<div class="events">
  <div class="Events-date">
   {{fields.field_date.content}}
</div>
<div class="Events-image">
<a href="{{ fields.view_node.content }}">
  {{ fields.field_image.content }}
</a>
  
</div>
<div class="Events-description">
  {{fields.field_description.content}}
  </div>
   {{fields.field_is_feature.content}}
</div>